# Created by https://www.gitignore.io
.idea/
build/
shariff-backend-php.zip
shariff-backend-php.tar.gz

### Composer ###
composer.phar
vendor/
.php_cs.cache

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file https://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/.phpunit.result.cache
